<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <title>Plotting example</title>
</head>
    <section id="form">
        <form action="/" method="POST">
            <hr>

            <section class="graph_type">
              <span>how would you like to visualize your graph?</span>
              <br>
              <input type="radio" name="graph_type" id="pie" value="PIE">
              <label for="pie">Pie</label>
              <input type="radio" name="graph_type" id="bar" value="BAR">
              <label for="bar">Bar</label>
              <input type="radio" name="graph_type" id="line" value="LINE">
              <label for="line">Line</label>
            </section>
            <hr>
            <section class="submission">
                <input class="btn btn-primary" type="submit" value="Submit">
            </section>
        </form>

    </section>

    <img src={{image}} alt="my plot" id="plot" width="400" lang="300">


<body>

</body>
</html>
